html {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
    background-image: url('https://wallpaperaccess.com/full/1091550.jpg');
}
.hide {
    display: none;
}

.square {
    border: 4px solid black;
    height: 120px;
    width: 120px;
    font-family: 'Permanent Marker';
    font-size: 70px;
    text-shadow: -3px -1px chartreuse, 0 1px chartreuse, 1px 0 chartreuse, 0 -1px chartreuse;
}

#square-board {
    width: 100vw;
    height: 20vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.yourTurn {
    font-family: 'Permanent Marker';
    justify-content: center;
    justify-items: center;
    border: 3px solid black;
    background-color: chartreuse;
    border-radius: 4px;
    color: black;
    height: auto;
}

h1 {
 font-family: 'Permanent Marker';
 font-size: 80px;
 text-shadow: -5px -1px chartreuse, 0 1px chartreuse, 1px 0 chartreuse, 0 -1px chartreuse;
}

p {
    font-family: 'Permanent Marker';
    font-size: 30px;
}

.sign {
    font-size: 45px;
    font-family: 'Permanent Marker';
    text-shadow: -3px -1px chartreuse, 0 1px chartreuse, 1px 0 chartreuse, 0 -1px chartreuse;
}
h4 {
    font-family: 'Gochi Hand';
    font-size: 40px;
    color: chartreuse;
    text-shadow: -3px -1px black, 0 1px black, 1px 0 black, 0 -1px black;
}

input {
    border: 2.5px solid black;
    color: chartreuse;
    border-radius: 8px;
    width: 200px;
    height: 25px;
    font-size: 25px;
    font-weight: 100;
    padding-left:10px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right: 5px;
    font-family: 'Gochi Hand'; 
    background-color: rgb(116, 116, 116);
    position: inherit;
}

#players-info {
    font-family: 'Permanent Marker';
    font-size: 32px;
    justify-content: center;
    justify-items: center;
    color: black;
    height: auto;
    width: fit-content;
    margin-left: 20px;
    margin-top: 20px;
}

#winner-message, #draw-message {
    width: 25vw;
    font-family: 'Gochi Hand';
    font-size: 35px;
    font-weight: bolder;
    margin-left: -30px;
    margin-top: 20px;
}

#actual-winner {
    font-family: 'Permanent Marker';
    font-size: 50px;
    color: chartreuse;
    text-shadow: -5px -1px black, 0 1px black, 1px 0 black, 0 -1px black;
}

#square-1 {
    border-top: hidden;
    border-left: hidden;
}

#square-2 {
    border-top: hidden;
}

#square-3 {
    border-right: hidden;
    border-top: hidden;
}

#square-4 {
    border-left: hidden;
}

#square-6 {
    border-right: hidden;
}

#square-7{
    border-left: hidden;
    border-bottom: hidden;
}

#square-8{
    border-bottom: hidden;
}

#square-9 {
    border-bottom: hidden;
    border-right: hidden;
}

.players-inputs {
    margin-bottom: -35px;
}

#start-btn {
    margin-top: 70px;
    font-family: 'Permanent Marker';
    font-size: 30px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: chartreuse;
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#start-btn:hover {
    background-color: rgb(0, 0, 0);
    color: chartreuse;
    border: 1.5px solid chartreuse
}

#restart-btn {
    margin-top: -20px;
    margin-left: -1050px;
    font-family: 'Permanent Marker';
    font-size: 30px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: chartreuse;
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#restart-btn:hover {
    background-color: rgb(0, 0, 0);
    color: chartreuse;
    border: 1.5px solid chartreuse
}
